.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rContainer::-webkit-scrollbar {
  width: 5px;
}

.rContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.rContainer::-webkit-scrollbar-thumb {
  background-color: #003580;
  outline: 1px solid #003580;
}
.rContainer {
  height: 80%;
  width: 40%;
  background-color: white;
  padding: 20px;
  position: relative;
  overflow-y: scroll;
}

.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 2px;
}

.rItem {
  display: flex;
  gap: 10px;
  height: 150px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: scroll;
}
.rItem::-webkit-scrollbar {
  width: 2px;
}

.rItem::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.rItem::-webkit-scrollbar-thumb {
  background-color: #feba02;
  outline: 1px solid #feba02;
}

.rItem > div {
  width: 50%;
}
.rItemInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rRoomContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}
.room {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5px;
  font-size: 12px;
}
.rSelect {
  color: white;
  cursor: pointer;
  border: 1px solid black;
}
.rDrop {
  color: white;
  background-color: blue;
  border: 1px solid blue;
  cursor: pointer;
}

.rTitle {
  font-weight: 500;
}
.rDesc {
  font-size: 300;
  font-size: 13px;
  color: grey;
}
.rMax {
  font-size: 16px;
  font-weight: 500;
}
.rsubTitle {
  font-size: 12px;
  color: coral;
}
.rPrice {
  font-weight: 500;
}
.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.noAvailable {
  text-decoration: line-through;
  cursor: not-allowed;
}
.noAvailableChecked {
  cursor: not-allowed;
  color: white;
}
@media (min-width: 481px) and (max-width: 768px) {
  .rContainer {
    height: 80%;
    width: 70%;
    background-color: white;
    padding: 20px;
    position: relative;
    overflow-y: scroll;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .rContainer {
    height: 85%;
    width: 85%;
    background-color: white;
    padding: 20px;
    position: relative;
    overflow-y: scroll;
  }
  .rItem {
    display: flex;
    gap: 10px;
    height: 150px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: scroll;
  }
}
