.slider {
  width: 100%;
  max-width: 1024px;
}

.sliderskeletoncontainer > div {
  width: 300px;
  height: 240px;
  background: #f0f3f3;
  border-radius: 5px;
}
.sliderskeletoncontainer > h4 {
  height: 40px;
  width: 300px;
  background: #f0f3f3;
  border-radius: 10px;
  margin-top: 9px;
}

.sliderimgcontainer > h4 {
  margin-top: 0px;
}
.sliderimgcontainer > p {
  margin-top: -19px;
  color: gray;
}
.swiper-button-next {
  background-image: url(../../Images/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
  background-color: #ffffff;
  width: 40px;
  border-radius: 50%;
  margin-top: -40px;
  margin-right: -7px;
}
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../../Images/left-arrow.png);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
  background-color: #ffffff;
  width: 40px;
  border-radius: 50%;
  margin-top: -40px;
  margin-left: -7px;
}
.swiper-button-prev::after {
  display: none;
}
@media (min-width: 481px) and (max-width: 768px) {
  .sliderimgcontainer > img {
    width: 210px;
  }
  .sliderimgcontainer > h4 {
    margin-top: 0px;
    font-size: 15px;
  }
  .sliderimgcontainer > p {
    margin-top: -19px;
    color: gray;
    font-size: 12px;
  }
  .sliderskeletoncontainer > div {
    width: 190px;
    height: 152px;
    background: #f0f3f3;
    border-radius: 5px;
  }
  .sliderskeletoncontainer > h4 {
    height: 35px;
    width: 190px;
    background: #f0f3f3;
    border-radius: 10px;
    margin-top: 7px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .slider > h2 {
    font-size: 17px;
  }
  .sliderimgcontainer {
    width: 84px;
  }

  .sliderimgcontainer > img {
    width: 85px;
  }
  .sliderskeletoncontainer > div {
    width: 84px;
    height: 68px;
    background: #f0f3f3;
    border-radius: 5px;
  }
  .sliderskeletoncontainer > h4 {
    height: 20px;
    width: 84px;
    background: #f0f3f3;
    border-radius: 5px;
    margin-top: 2px;
  }
  .sliderimgcontainer > h4 {
    margin-top: 0px;
    font-size: 8px;
  }
  .sliderimgcontainer > p {
    margin-top: -10px;
    color: gray;
    font-size: 6px;
  }

  .swiper-button-prev {
    background-image: url(../../Images/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center;
    background-color: transparent;
    width: 40px;
    border-radius: 50%;
    margin-top: -40px;
    margin-left: 20px;
  }
  .swiper-button-next {
    background-image: url(../../Images/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center;
    background-color: transparent;
    width: 40px;
    border-radius: 50%;
    margin-top: -40px;
    margin-right: -20px;
  }
}
