.slider {
  width: 100%;
  max-width: 1024px;
}

.sliderimgcontainer > h4 {
  margin-top: 0px;
}
.sliderimgcontainer > p {
  margin-top: -19px;
  color: gray;
}

.swiper-button-next {
  background-image: url(../../Images/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
  background-color: #ffffff;
  width: 40px;
  border-radius: 50%;
  margin-top: -40px;
  margin-right: -7px;
}

.swiper-button-prev {
  background-image: url(../../Images/left-arrow.png);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
  background-color: #ffffff;
  width: 40px;
  border-radius: 50%;
  margin-top: -40px;
  margin-left: -7px;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
.toppropertysubHeading {
  color: gray;
  margin-top: -15px;
  margin-bottom: 28px;
}
.PropertyRatings {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -17px;
}
.PropertyRatings > div {
  background-color: #003581;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px 4px 4px 0px;
}
.PropertyRatings > p {
  font-size: 12px;
}
.PropertyRatings > :nth-child(3) {
  color: gray;
}
.Toppropertyimg {
  width: 300px;
  height: 240px;
}
