.slider {
  width: 100%;
  max-width: 1024px;
}

.sliderskeletonimgcontainer {
  background-color: #f0f3f3;
  width: 300px;
  height: 240px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.sliderskeletontextcontainer {
  background-color: #f0f3f3;
  border-radius: 5px;
  width: 300px;
  height: 75px;
}
.tpsliderimgcontainer {
  width: 300px;
}
.tpsliderimgcontainer > h4 {
  margin-top: 0px;
  text-transform: capitalize;
}
.tppricecityCotainer {
  margin-top: -37px;
  display: flex;
  color: gray;
  justify-content: space-between;
}
.tpCity {
  text-transform: capitalize;
}

.swiper-button-next {
  background-image: url(../../Images/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
  background-color: #ffffff;
  width: 40px;
  border-radius: 50%;
  margin-top: -40px;
  margin-right: -7px;
}

.swiper-button-prev {
  background-image: url(../../Images/left-arrow.png);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
  background-color: #ffffff;
  width: 40px;
  border-radius: 50%;
  margin-top: -40px;
  margin-left: -7px;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
.toppropertysubHeading {
  color: gray;
  margin-top: -15px;
  margin-bottom: 28px;
}
.tpPropertyRatings {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -17px;
}
.tpPropertyRatings > div {
  background-color: #003581;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px 4px 4px 0px;
}
.tpPropertyRatings > p {
  font-size: 12px;
}
.tpPropertyRatings > :nth-child(3) {
  color: gray;
}
.tpToppropertyimg {
  width: 300px;
  height: 240px;
}
